
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.inter-ais {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

body{
    font-family: "Inter", sans-serif;
}


/*[NAVIGATION BAR FOR AIS WEBSITE]*/
.nav-bar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 80px;
    border-bottom: 1px solid black;
    background-color: white;
}

nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 80px;
}

.nav-bar .nav-list{
    display: flex;
    width: 60%;
    justify-content: space-evenly;
}

.nav-list li{
    list-style: none;
}

.nav-list a{
    text-decoration: none;
    color: black;

    transition: all 0.3s ease;
}

.nav-list a:hover{
    text-decoration: underline;
}
.contact-us-btn{
    display: inline-block;
    font-weight: bold;
    padding: 10px 30px;
    
    background-color: #3C5B6C;
    color: white;
    text-decoration: none;
    border-radius: 20px ;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);

    transition: all 0.3s ease;
}

.contact-us-btn:hover {
    background-color: #293f4b;
    transform: translateY(-2px); 
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  }

/*[TITLE SECTION]*/

.title{
    margin-top: 80px;
    width: 100vw;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;


}

.title::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 250px;
    
    background-image: url(img-resources/sfc-campus.png);
    background-size: cover;
    opacity: 0.5;
    mask-image: linear-gradient(to bottom, black, transparent);
    -webkit-mask-image: linear-gradient(to bottom, black, transparent);    
    z-index: -1; 
}

.title-text {
    font-size: 1.3rem;
    color: #3B5B6E;
    margin-right: 25px;
}

.small-text{
    font-weight: lighter;
    font-size: 1.3rem;
}

.logo{
    height: 125px;
    width: 125px;
    margin-left: 25px;
}

/*[INTRODUCTION SECTION]*/
.who-we-are{
    width: 100vw;
    height: 250px;
    display: flex;
    
}

.intro-description{
    width: 50%;
    padding: 83px;
}

.intro-description h1{
    font-weight: normal;
    font-size: 2.0rem;
    margin-bottom: 1.5rem;
}

.we{
    font-weight: bold;
}

.scroll-wrapper {
    display: flex; 
    gap: 20px;
    height: 100%;
    align-items: start; 
}

.column {
    display: flex;
    flex-direction: column; 
    gap: 20px; 
    width: 33.33%; 
    
    
    animation: scrollUp 20s linear infinite;
}


.col-2 {
    margin-top: 75px; 
}

.col-3 {
    margin-top: 35px; 
}

@keyframes scrollUp {
    0% { transform: translateY(0); }
    100% { transform: translateY(-50%); }
}

.img-1 {
    width: 150px;
    height: 320px;
    background-color: gray;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    flex-shrink: 0; 
}

.scroll-window {
    height: 400px;
    overflow: hidden;
    position: relative;
    -webkit-mask-image: linear-gradient(to bottom, transparent 0%, black 10%, black 90%, transparent 100%);
    mask-image: linear-gradient(to bottom, transparent 0%, black 10%, black 90%, transparent 100%);
}